@import './base/colors.css';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;800&display=swap');

#app {
  margin: 0 auto;
  font-weight: normal;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

body {
  /* padding: 60px 107px; */
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}